.card.text-muted.bg-secondary.mb-3(style='max-width: 18rem;')
  .card-body
    h5.card-title Secondary card title
    p.card-text
      | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
