.p-5
	.container-fluid.scroll-x
		.row
			.col.align-items-center.d-flex
				h1 Clients
		br
		br
		.row
			.col
				table.table.table-hover([mfData]='clientApplications$|async', #mf="mfDataTable", [mfRowsOnPage]='10')
					thead.text-dark
						tr
							th
								mfDefaultSorter(by='name') Name
							th
								mfDefaultSorter(by='email') Email Address
							th
								mfDefaultSorter(by='phoneNumber') Phone
							th
								mfDefaultSorter(by='packageIndex') Package
							th
								mfDefaultSorter(by='totalPrice') Total Price
							th Facebook Page
							th
								mfDefaultSorter(by='createdAt') Date Submitted
					tbody.f-1.text-calm
						tr.cursor-pointer(*ngFor="let app of mf.data", (click)="openApplication(app)")
							td.align-middle {{app.name}}
							td.align-middle {{app.email}}
							td.align-middle {{app.phoneNumber || '---'}}
							td.align-middle.f-heavy([ngClass]="app.package|packageColor") {{app.package}}
							td.align-middle {{app.totalPrice}} EGP
							td.align-middle
								a(href='{{app.facebook}}', target='_blank', *ngIf="app.facebook")
									i.fa.fa-facebook.f-3
								a(*ngIf="!app.facebook") ---
							td.align-middle {{app.createdAt|date:'longDate'}}
					tfoot
						tr
							td(colspan='4')
								mfBootstrapPaginator([rowsOnPageSet]='[5,10,25]')

ng-template(#showClientApplication, let-close='close', let-dismiss='dismiss')
	.modal-header
		h3.modal-title {{(selectedApplication$|async)?.name}}
	.modal-body
		.row
			.col-12.col-lg-6
				label Email
				p {{(selectedApplication$|async)?.email}}
			.col-12.col-lg-6(*ngIf="(selectedApplication$|async)?.phoneNumber")
				label Phone Number
				p {{(selectedApplication$|async)?.phoneNumber}}
			.col-12.col-lg-6(*ngIf="(selectedApplication$|async)?.address")
				label Address
				p {{(selectedApplication$|async)?.address}}
			.col-12.col-lg-6
				label Total Price
				p {{(selectedApplication$|async)?.totalPrice}} EGP
			.col-12.col-lg-6
				label Submitted At
				p {{(selectedApplication$|async)?.createdAt | date:'longDate'}}
			.col-12.col-lg-6(*ngIf="(selectedApplication$|async)?.facebook")
				label Facebook
				a.d-block(href='{{(selectedApplication$|async)?.facebook}}', target='_blank')
					i.fa.fa-facebook.f-3
		br
		h4([ngClass]="(selectedApplication$|async)?.package|packageColor") {{(selectedApplication$|async)?.package}} for {{(selectedApplication$|async)?.dealYears}} years
		hr
		.row
			.col-12.col-lg-6
				label Posts per month
				p {{(selectedApplication$|async)?.postsPerMonth}}
					//- span.ml-2 ({{selectedPrices.posts}} EGP)
			.col-12.col-lg-6
				label Photography
				p {{(selectedApplication$|async)?.photography}}
					//- span.ml-2 ({{selectedPrices.photography}} EGP)
			.col-12.col-lg-6
				label Gifs
				p {{(selectedApplication$|async)?.gifs}}
					//- span.ml-2 ({{selectedPrices.gifs}} EGP)
			.col-12.col-lg-6
				label Videos
				p {{(selectedApplication$|async)?.videos}} Videos 
					| (Averaged
					| {{(selectedApplication$|async)?.videoMinutesCount}} minutes)
					//- span.ml-2 ({{selectedPrices.videos}} EGP)
		br
		div
			h4 Discounts
			hr
			.row
				.col-12.col-lg-6(*ngIf="(selectedApplication$|async)?.coupon")
					label Coupon
					p.text-danger {{selectedDiscount?.coupon}} EGP
						span.ml-2 ({{(selectedApplication$|async)?.coupon|coupon}})
				.col-12.col-lg-6(*ngIf="selectedDiscount")
					label Fixed Package
					p.text-danger {{selectedDiscount?.years}} EGP
		br
		div(*ngIf="(selectedApplication$|async)?.website")
			h4 Website
			hr
			.row
				.col-12.col-lg-6
					strong.d-block.mt-1.text-info(*ngIf="(selectedApplication$|async)?.website") Wants a website
					strong.d-block.mt-1.text-info(*ngIf="(selectedApplication$|async)?.hasHost") Has hosting 
					strong.d-block.mt-1.text-info(*ngIf="(selectedApplication$|async)?.hasDomain") Has a domain
					strong.d-block.mt-1.text-danger(*ngIf="!(selectedApplication$|async)?.hasHost") Doesn't have hosting
					strong.d-block.mt-1.text-danger(*ngIf="!(selectedApplication$|async)?.hasDomain") Doesn't have a domain
	.modal-footer
		button.btn.btn-secondary(type='button', (click)="dismiss()") OK