.p-5
	.container-fluid
		.row
			.col.align-items-center.d-flex
				h1 Clients
		br
		br
		.row
			.col
				table.table.table-hover
					thead.text-dark
						tr
							th Name
							th Email Address
							th Phone
							th Package
							th Facebook Page
					tbody.f-1.text-calm
						tr
							td.align-middle Gray, Inc.
							td.align-middle gray@gmail.com
							td.align-middle +201096707442
							td.align-middle.text-info Starter
							td.align-middle
								a(href='https://facebook.com/zzthemadprogrammer' target='_blank')
									i.fa.fa-facebook.f-3
						tr
							td.align-middle Mohap Akram
							td.align-middle themadkid@gmail.com
							td.align-middle +201067425491
							td.align-middle.text-success Pro
							td.align-middle
								a(href='https://www.facebook.com/mohapakram' target='_blank')
									i.fa.fa-facebook.f-3
