.post-header.cursor-pointer((click)="emit()")
	h2.d-inline-block.text-truncate {{post.title}}
	i.float-right.fa.fa-angle-up.text-dashboard.f-5
hr
br
.row
	.col
		p {{post.thumbnailBody}}
	.col-4(*ngIf="post.thumbnailImageId")
		img.img-fluid(style="border-radius: 2%;", src="{{storage}}/{{post.thumbnailImageId}}", alt="", srcset="")