app-toolbar
.bg-light.py-5.minh-100
	.container.clearfix
		h1.display-4.mb-2 Ask a question
		p.lead We will reploy as soon as possible.
		hr
		h2 Contact Information
		br
		.row
			.col
				.form-group
					label Name
					input.form-control(type='text' placeholder='Your name')
				.form-group
					label Email address
					input.form-control(type='email' placeholder='example@example.com')
				.form-group
					label Phone number (optional)
					input.form-control(type='tel' placeholder='01097543010')
		br
		h2 Inquiry
		br
		.row
			.col
				.form-group
					label Question
					input.form-control(type='text' placeholder='Your question?')
				.form-group
					label Description
					textarea.form-control(type='textarea' placeholder='Describe what you need' row='3')
				.form-group
					label(for='attachment') Attachment
					input#attachment.form-control-file(type='file')
		hr
		.row
			.col-12.col-lg-4.offset-lg-8
				button.w-100.btn.btn-dashboard.btn.ml-auto(type='button') Send
app-footer