.p-5
	.container-fluid
		.row
			.col
				h2 Contact Information
				hr
		.row
			.col-12
				.form-group
					label Email
					input.form-control(type='email' placeholder='example@example.com')
				.form-group
					label Phone
					input.form-control(type='text' placeholder='+1 (0) 000 0000 001')
				.form-group
					label Address
					textarea.form-control(type='textarea' placeholder='1234 Street Name \n City, AA 99999' row='3')
		.row
			.col-12.col-lg-6
				.form-group
					label Facebook
						i.ml-2.fab.fa-facebook-f
					input.form-control(type='text' placeholder='https://www.facebook.com/...')
				.form-group
					label LinkedIn
						i.ml-2.fab.fa-linkedin-in
					input.form-control(type='text' placeholder='https://www.linkedin.com/in/...')
			.col-12.col-lg-6
				.form-group
					label Instagram
						i.ml-2.fab.fa-instagram
					input.form-control(type='text' placeholder='https://www.instagram.com/...')
		.row
			.col
				h2 Additional Info
				hr
		.row
			.col
				.form-group
					label Title
					input.form-control(type='text' placeholder='Feedback')
				.form-group
					label Body
					textarea.form-control(type='textarea' placeholder='Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.' row='3')
		hr
		.row
			.col-12.col-lg-4.offset-lg-8
				button.w-100.btn.btn-primary.btn.ml-auto.mt-1(type='button') Save
