.p-5
	.container-fluid
		.row
			.col.align-items-center.d-flex
				h1 Users
		br
		br
		.row
			.col
				table.table.table-hover
					thead.text-dark
						tr
							th Name
							th Permissions
							th Last Login
							th Action
					tbody.f-1.text-calm
						tr
							td.align-middle Ziad Alzarka
							td.align-middle Admin
							td.align-middle Jul 15, 2018
							td.align-middle
								.btn-group.w-100
									button.btn.btn-coffee.w-100(type='button') Log In
									button.btn.btn-coffee.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
										span.sr-only Toggle Actions
									.dropdown-menu
										a.dropdown-item Edit
										a.dropdown-item Change Permissions
										a.dropdown-item Statistics
										.dropdown-divider
										a.dropdown-item.text-danger Delete
						tr
							td.align-middle Mohap Akram
							td.align-middle Posts, Job Applications
							td.align-middle Jun 21, 2018
							td.align-middle
								.btn-group.w-100
									button.btn.btn-coffee.w-100(type='button') Log In
									button.btn.btn-coffee.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
										span.sr-only Toggle Actions
									.dropdown-menu
										a.dropdown-item Edit
										a.dropdown-item Change Permissions
										a.dropdown-item Statistics
										.dropdown-divider
										a.dropdown-item.text-danger Delete
button.btn.btn-coffee.fab
	i.fas.fa-plus.f-5.text-white