.p-5
	.container-fluid
		.row
			.col
				h2 Users
				hr
		.row
			.col
				table.table.table-hover
					thead
						tr
							th(scope='col') Type
							th(scope='col') Column heading
							th(scope='col') Column heading
							th(scope='col') Column heading
					tbody
						tr.table-active
							th(scope='row') Active
							td Column content
							td Column content
							td Column content
						tr
							th(scope='row') Default
							td Column content
							td Column content
							td Column content
						tr.table-primary
							th(scope='row') Primary
							td Column content
							td Column content
							td Column content
						tr.table-secondary
							th(scope='row') Secondary
							td Column content
							td Column content
							td Column content
						tr.table-success
							th(scope='row') Success
							td Column content
							td Column content
							td Column content
						tr.table-danger
							th(scope='row') Danger
							td Column content
							td Column content
							td Column content
						tr.table-warning
							th(scope='row') Warning
							td Column content
							td Column content
							td Column content
						tr.table-info
							th(scope='row') Info
							td Column content
							td Column content
							td Column content
						tr.table-light
							th(scope='row') Light
							td Column content
							td Column content
							td Column content
		hr
		.row
			.col-12.col-lg-4.offset-lg-8
				button.w-100.btn.btn-primary.btn.ml-auto.mt-1(type='button') Save
