app-toolbar
.bg-light.py-5.minh-100
	.container.clearfix
		form([formGroup]="jobApplicationForm")
			h1.display-4.mb-2 Apply for work
			p.lead We will contact you as soon as possible.
			hr
			h2 Contact Information
			br
			.row
				.col-12.col-lg-6
					.form-group
						label First name
						input.form-control(type='text', placeholder='Lilly', formControlName="firstName", required)
						.has-error.mt-1(*ngIf='jobApplicationForm.controls.firstName.invalid && jobApplicationForm.controls.firstName.dirty') This field is required.
					.form-group
						label Middle name
						input.form-control(type='text', placeholder='Robert', formControlName="middleName", required)
						.has-error.mt-1(*ngIf='jobApplicationForm.controls.middleName.invalid && jobApplicationForm.controls.middleName.dirty') This field is required.
					.form-group
						label Last name
						input.form-control(type='text', placeholder='Collins', formControlName="lastName", required)
						.has-error.mt-1(*ngIf='jobApplicationForm.controls.lastName.invalid && jobApplicationForm.controls.lastName.dirty') This field is required.
				.col-12.col-lg-6
					.form-group
						label Email address
						input.form-control(type='email', email, placeholder='example@example.com', formControlName="email", required)
						.has-error.mt-1(*ngIf='jobApplicationForm.controls.email.invalid && jobApplicationForm.controls.email.dirty') Invalid email provided.
					.form-group
						label Address (optional)
						input.form-control(type='text', placeholder='445 Mount Eden Road, Auckland', formControlName="address")
					.form-group
						label Phone number (optional)
						input.form-control(type='tel', placeholder='0109754xxxx', formControlName="phoneNumber")
			br
			h2 Applying for
			br
			label Preferred position
			div(formGroupName="positions")
				.form-check
					input.form-check-input#media-chk(type='checkbox', formControlName="media")
					label.form-check-label(for='media-chk') Media
				.form-check.my-1
					input.form-check-input#graphics-chk(type='checkbox', formControlName="graphics")
					label.form-check-label(for='graphics-chk') Graphics
				.form-check.my-1
					input.form-check-input#photography-chk(type='checkbox', formControlName="photography")
					label.form-check-label(for='photography-chk') Photography
				.form-check.my-1
					input.form-check-input#pb-chk(type='checkbox', formControlName="pb")
					label.form-check-label(for='pb-chk') Public Relations
				.has-error.mt-1(*ngIf='jobApplicationForm.controls.positions.invalid && jobApplicationForm.controls.positions.dirty') At least one position has to be selected.
			br
			h2 Portfolio
			br
			.form-group
				label(for='resumeFile') CV / Resume / Portfolio
				input#resumeFile.form-control-file(type='file', formControlName="resume", #resume, required)
				.has-error.mt-1(*ngIf='jobApplicationForm.controls.resume.invalid && jobApplicationForm.controls.resume.dirty') This field is required.
			.form-group
				label LinkedIn Profile
				input.form-control(type='text', placeholder='https://www.linkedin.com/in/...', formControlName="linkedIn")
			hr
			.row
				.col-12.col-lg-4.offset-lg-8
					button.w-100.btn.btn-dashboard.btn.ml-auto(type='button', (click)="send(resume.files[0])") Send
app-footer

ng-template(#loading, let-close='close', let-dismiss='dismiss')
	.modal-header
		h3.modal-title Submitting application
	.modal-body
		.progress.mb-4(*ngIf="uploadPercentage")
			.progress-bar(role='progressbar', [style.width]="uploadPercentage + '%'")
		div(*ngIf="!uploadPercentage", [ngSwitch]="successful")
			p.lead(*ngSwitchCase="true") Successfully submitted application.
			p.lead(*ngSwitchCase="false") An error ocurred prevented application from being submit.
	.modal-footer(*ngIf="!uploadPercentage")
		button.btn.btn-dashboard(type='button', (click)="dismiss()") OK