.p-5
	#title(" [froalaEditor]='titleOptions' #titleInput (keydown)='handleSelectAll($event, titleInput)' ")
		h1 Title
	hr
	br
	#editor(" [froalaEditor]='editorOptions'  [(froalaModel)]='editorContent' ")
	br
	h2.my-4 Thumbnail
	hr
	br
	.row
		.col-12.col-lg-6
			.form-group
				textarea.form-control(type='textarea' placeholder='What you write here will be displayed on the home page.' row='3' style='height: 9em;')
		.col-12.col-lg-6
			.form-group.image-upload
				label.w-100(for='thumbnailFile')
					div.w-100.dashed-border([ngClass]='imgSrc ? "" : "p-5"')
						p.text-center.m-0([hidden]='imgSrc') Click to upload
						img.img-fluid#thumbnailImg(" src='{{imgSrc}}' [hidden]='!imgSrc' ")
				input#thumbnailFile.d-none.form-control-file(" type='file' accept='image/x-png,image/gif,image/jpeg' (change)='handleThumbnail($event)' ")
	br
	hr
	.row
		.col-12.col-lg-4.offset-lg-8
			button.w-100.btn.btn-primary.btn.ml-auto.mt-1(type='button') Save