select {
	-moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(assets/images/down-arrow.svg);
  /* background-position: 25px; */
  background-size: 16px;
  background-position: calc(100% - 15px);
  background-repeat: no-repeat;
}
