.container.p-5
	.row.justify-content-center
		form.col-12.col-lg-6([formGroup]='loginForm')
			h1.text-center Log In
			.form-group
				label Username
				input.form-control(type='text', placeholder='Username', formControlName="username")
			.form-group
				label Password
				input.form-control(type='password', placeholder='*******', formControlName="password")
			button.w-100.btn.btn-primary.btn.my-2(type='button', (click)='login()') Log In
			p Only the site admin can create users.
			h3 {{loading | async}}
			h3 {{failed | async}}
