@import '~utils/responsive';
$lg-size: 22.5vw;
$md-size: 35vw;
$sm-size: 80vw;
.wrapper {
  display: flex;
  width: 100%;
	align-items: stretch;
	& #content, & #overlay {
    margin-left: $lg-size;
    @include lt-md {
      margin-left: $md-size;
    }
    @include lt-sm {
      margin-left: $sm-size;
    }
  }
}

.closed-sidebar {
  & #content {
		transform: translateY(5em);
		margin-left: 0;
  }
  & #overlay {
    display: none;
  }
  & #miniSidebar {
		// margin-top: 0;
		transform: translateY(0);
		opacity: 1;
  }
  & #sidebar {
    margin-left: -$lg-size;
    @include lt-md {
      margin-left: -$md-size;
    }
    @include lt-sm {
      margin-left: -$sm-size;
    }
  }
}

#content {
	position: relative;
	height: 100%;
	transform: translateY(0);
	will-change: transform;
	transition: 0.5s;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	min-height: 100%;
	@include lt-md {
		width: 100%;
	}
}

#sidebar {
	z-index: 999;
	margin-left: 0;
	height: 100%;
	position: fixed;
  min-width: $lg-size;
  max-width: $lg-size;
  transition: margin-left 0.5s;
  @include lt-md {
    min-width: $md-size;
    max-width: $md-size;
  }
  @include lt-sm {
    max-width: $sm-size;
    min-width: $sm-size;
  }
}

#miniSidebar {
  opacity: 0;
	will-change: transform;
	transform: translateY(-5em);
  position: fixed;
	min-width: 100vw;
	width: 100%;
  max-height: fit-content;
  height: 5rem;
	transition: transform 0.5s, opacity 0.5s;
	z-index: 1000;
}
