@import '~utils/responsive';

$lg-size: 22.5%;
$md-size: 35%;
$sm-size: 80%;

.wrapper {
  display: flex;
  width: 100%;
	align-items: stretch;
}

.closed-sidebar {
  & #content #overlay {
    width: 0;
  }
  & #sidebar {
    margin-left: -$lg-size;
    @include lt-lg {
      margin-left: -$md-size;
    }
    @include lt-md {
      margin-left: -$sm-size;
    }
  }
}

#content {
	position: relative;
  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    min-height: 100vh;
    @include lt-md {
      width: 100%;
    }
  }
}

#sidebar {
  margin-left: 0;
  min-width: $lg-size;
  max-width: $lg-size;
  min-height: 100vh;
  @include lt-lg {
    min-width: $md-size;
    max-width: $md-size;
  }
  @include lt-md {
    max-width: $sm-size;
    min-width: $sm-size;
  }
}
