.h-100.wrapper.position-relative( [ngClass]='sidebarHidden ? "closed-sidebar" : ""' )
	nav#sidebar.bg-dashboard
		.row.align-items-baseline(style='padding-right: 1.75rem;')
			.col-10
				.px-4.pt-4.pb-2
					h3.truncate-text.text-light {{ (user | async).name }}
					p.text-pale {{ (user | async).username }}
			.col-2.cursor-pointer.text-center( (click)='hideSidebar()' )
				i.fa.fa-angle-left.f-5.text-light
		.row([hidden]="!permissions['Posts']")
			.col
				button.btn.bg-dashboard.shadow-none.text-pale.w-100(type='button' data-toggle='collapse' data-target='#contentCollapse' aria-expanded='true' aria-controls='contentCollapse')
					.row
						.col-2.text-right
							.fa.fa-calendar.f-3
						.col-8
							| Content
						.col-2
							.fa.fa-angle-down.f-3
				#contentCollapse.collapse.show
					button(navitem, routerLink='content/posts') Posts
					button(navitem, routerLink='content/new') New Post
		.row([hidden]="!permissions['ClientApplications'] && !permissions['JobApplications'] && !permissions['ContactApplications']")
			.col
				button.btn.bg-dashboard.shadow-none.text-pale.w-100(type='button' data-toggle='collapse' data-target='#applicationsCollapse' aria-expanded='true' aria-controls='applicationsCollapse')
					.row
						.col-2.text-right
							.fa.fa-user.f-3
						.col-8
							| Applications
						.col-2
							.fa.fa-angle-down.f-3
				#applicationsCollapse.collapse.show
					button(navitem, [hidden]="!permissions['ClientApplications']" ,routerLink='applications/clients') Clients
					button(navitem, [hidden]="!permissions['JobApplications']", routerLink='applications/jobs') Jobs
					//- button(navitem, [hidden]="!permissions['ContactApplications']", routerLink='applications/contact') Contact
		.row([hidden]="!permissions['Admin']")
			.col
				button.btn.bg-dashboard.shadow-none.text-pale.w-100(type='button' data-toggle='collapse' data-target='#settingsCollapse' aria-expanded='true' aria-controls='settingsCollapse')
					.row
						.col-2.text-right
							.fa.fa-cog.f-3
						.col-8
							| Settings
						.col-2
							.fa.fa-angle-down.f-3
				#settingsCollapse.collapse.show
					button(navitem, routerLink='settings/users') Users
					//- button(navitem, routerLink='settings/emails') Emails
					button(navitem, routerLink='settings/footer') Footer
		.row
			.col
				button.btn.btn-danger.shadow-none.text-light.w-100(type='button', (click)="logout()")
					.row
						.col-2.text-right
							.fa.fa-sign-out.f-3
						.col-8
							| Log Out
	#overlay((click)="hideSidebar()")
	#miniSidebar.bg-dashboard
		i.d-inline-block.fa.fa-bars.f-5.text-light.m-4.cursor-pointer( (click)='showSidebar()' )
		h3.d-inline-block.truncate-text.text-light {{ (user | async).name }}
	#content.w-100
		div([@routerTransition]='o.activatedRouteData.state')
			router-outlet(#o='outlet')
