.wrapper.position-relative( [ngClass]='sidebarHidden ? "closed-sidebar" : ""' )
	nav#sidebar.bg-dark
		.row.align-items-baseline
			.col
				.sidebar-header.px-4.pt-4.pb-2
					h3.truncate-text.text-light Ziad Alzarka
					p.text-subtitle Admin
			.col-auto.cursor-pointer( (click)='hideSidebar()' )
				i.fa.fa-arrow-left.f-5.text-light.mr-4
		ul.list-unstyled.components
			li.bg-coffee.lighten-1
				h4.text-light.text-center.py-4.m-0 Content
			li
				button.w-100.btn.btn-lg.text-light.shadow-none.btn-dark(routerLink='content/posts') Posts
			li.bg-coffee.lighten-1
				h4.text-light.text-center.py-4.m-0 Applications
			li
				button.w-100.btn.btn-lg.text-light.shadow-none.btn-dark(routerLink='applications/clients') Clients
			li
				button.w-100.btn.btn-lg.text-light.shadow-none.btn-dark(routerLink='applications/jobs') Jobs
			li.bg-coffee.lighten-1
				h4.text-light.text-center.py-4.m-0 Settings
			li
				button.w-100.btn.btn-lg.text-light.shadow-none.btn-dark(routerLink='settings/users') Users
			li
				button.w-100.btn.btn-lg.text-light.shadow-none.btn-dark(routerLink='settings/emails') Emails
			li
				button.w-100.btn.btn-lg.text-light.shadow-none.btn-dark(routerLink='settings/footer') Footer
	#miniSidebar.bg-dark
		i.d-inline-block.fa.fa-bars.f-5.text-light.m-4.cursor-pointer( (click)='showSidebar()' )
		h3.d-inline-block.truncate-text.text-light Ziad Alzarka
	#content.w-100
		#overlay
		div([@routerTransition]='o.activatedRouteData.state')
			router-outlet(#o='outlet')
