section.h-100.background-img
	.container.h-100.text-center.no-overflow
		.row.h-100
			//- for alignment purposes
			.col-12.align-self-start
			.col-12.align-self-center
			.col-12.align-self-end.mb-5.cursor-pointer([ngx-scroll-to]="'apply-section'")
				img(src="assets/images/down-arrow.svg", alt="", srcset="")
		.social-links
			.social-link.mx-2.cursor-pointer(*ngIf="(content$|async)?.facebook", (click)="newTab('facebook')")
				i.fa.fa-facebook.text-white.f-4
			.social-link.mx-2.cursor-pointer(*ngIf="(content$|async)?.linkedin", (click)="newTab('linkedin')")
				i.fa.fa-linkedin.text-white.f-4
			.social-link.mx-2.cursor-pointer(*ngIf="(content$|async)?.instagram", (click)="newTab('instagram')")
				i.fa.fa-instagram.text-white.f-4
			.social-link.mx-2.cursor-pointer(*ngIf="(content$|async)?.youtube", (click)="newTab('youtube')")
				i.fa.fa-youtube.text-white.f-4

section#apply-section.py-5
	.container
		h1 Join Us
		.row
			.col.mt-5
				.apply-card
					img(src="assets/images/avatar-designer.svg")
					h2.my-4 I'm looking for work
					p.my-2 We are looking forward to hiring people with exquisite expertise in their field(s).
					ul.mt-4
						li 
							i.bullet
							| Media
						li 
							i.bullet
							| Graphic Design
						li 
							i.bullet
							| Photography
						li
							i.bullet
							| Public Relations
					button.btn.btn-coffee.w-100.shadow-none.mt-2(routerLink="/job") Apply Now
			.col.mt-5
				.apply-card
					img(src="assets/images/avatar-client.svg")
					h2.my-4 I'm a client
					p.my-2 We make sure your products and services get to the right customers quick and fast.
					ul.mt-4
						li 
							i.bullet
							| Marketing Campaign
						li 
							i.bullet
							| Social Media Posts
						li 
							i.bullet
							| Videos & Animated Gifs
						li
							i.bullet
							| Photography
					button.btn.btn-coffee.w-100.shadow-none.mt-2(routerLink="/client") Apply Now

section#posts-section.py-5(*ngIf="(feed$|async) != {}")
	.container.pt-5
		.row
			.col-12(*ngFor="let post of feed$|async")
				app-post-thumbnail([post]="post", (open)="showPost(post)")
		.row
			.col
				ngb-pagination([collectionSize]="count$|async", [pageSize]="pageSize", [maxSize]="5", [rotate]="true", [(page)]="page")

section#contact-section.py-5
	h1 Get in touch
	.container-fluid
		.row
			.col-2.d-none.d-lg-block.text-center
				img.decoration(src="assets/images/media.svg")
			.col
				form([formGroup]="contactForm")
					.form-group
						label Name
						input.form-control(type='text', formControlName="name", placeholder='Your name', required)
						.has-error.mt-1(*ngIf='name.invalid && name.dirty') This field is required.
					.form-group
						label Email address
						input.form-control(type='email', formControlName="email", placeholder='example@example.com', required, email)
						.has-error.mt-1(*ngIf='email.invalid && email.dirty') Invalid email provided.
					.form-group
						label Phone number (optional)
						input.form-control(type='tel', formControlName="phoneNumber", placeholder='010975xxxxx')
					.form-group
						label Question
						textarea.form-control(type='textarea', formControlName="question", placeholder='Ask what you want', row='3', required)
						.has-error.mt-1(*ngIf='question.invalid && question.dirty') This field is required.
					button.w-100.btn.btn-coffee.btn.ml-auto(type='button', (click)="sendContact()") Send
			.col-2.d-none.d-lg-block.text-center
				img.decoration(src="assets/images/loadspeaker.svg")

app-footer

ng-template(#failed, let-close='close', let-dismiss='dismiss')
	.modal-header
		h3.modal-title Submission Failed
	.modal-body
		p.lead An error ocurred prevented application from being submit.
	.modal-footer
		button.btn.btn-coffee(type='button', (click)="dismiss()") OK

ng-template(#successful, let-close='close', let-dismiss='dismiss')
	.modal-header
		h3.modal-title Submission Successful
	.modal-body
		p.lead Successfully submitted contact info.
	.modal-footer
		button.btn.btn-coffee(type='button',, (click)="dismiss()") OK