/* You can add global styles to this file, and also import other style files */
html, body, app-root {
	height: 100%;
}

.clamp {
	line-height: 1.5em;
	height: 6em;
	overflow: hidden;
}

label {
	color: #404040;
	font-size: 1.25em;
}

@import 'materialize/range';

@import 'theme/variables';

$headings-color: #2c3e50;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'theme/lux';