/* You can add global styles to this file, and also import other style files */

html,
body,
app-root {
  height: 100%;
}

.clamp {
  line-height: 1.5em;
  height: 6em;
  overflow: hidden;
}

label {
  color: #404040;
  font-size: 1.25em;
}

.text-calm {
  color: #606060 !important;
}

.white-space-normal {
  white-space: normal !important;
}

.cursor-pointer {
  cursor: pointer;
}

.dashed-border {
  border: gray dashed 2px;
}

.f-1 {
  font-size: 1.1em !important;
}

.f-2 {
  font-size: 1.2em !important;
}

.f-3 {
  font-size: 1.4em !important;
}

.f-4 {
  font-size: 1.6em !important;
}

.f-5 {
  font-size: 1.8em !important;
}

.text-subtitle {
  color: #ccc;
}

// range from materialize
@import 'materialize/range';
// bootstrap theming
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";
// lux theme variables
@import 'theme/variables';
// colors
$darkcalm: #292f32;
$calm:#2c3135;
$coffee:#584b4b;
$ocean:#2c3e50;
// customs
$headings-color: $ocean;
$theme-colors: ( "darkcalm": $darkcalm, "calm": $calm, "coffee": $coffee, "ocean": $ocean);
// table
$table-hover-bg: rgba($black, .025);
// dropdown
$dropdown-link-active-bg: $gray-300;
// build the theme
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'theme/lux';
// hide froala license thing
a[href="https://froala.com/wysiwyg-editor"],
a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
  display: none !important;
  position: absolute;
  top: -99999999px;
}
