/* You can add global styles to this file, and also import other style files */

@import 'utils/responsive';
html,
body,
app-root {
  height: 100%;
}

html {
  font-size: 90%;
  @include lt-lg {
    font-size: 80%;
  }
}

.clamp {
  line-height: 1.5em;
  height: 6em;
  overflow: hidden;
}

.pre {
  white-space: pre;
}

.scroll-x {
  overflow-x: scroll;
}

label {
  color: #404040;
  font-size: 1.25em;
}

.text-calm {
  color: #606060 !important;
}

.white-space-normal {
  white-space: normal !important;
}

.cursor-pointer {
  cursor: pointer;
}

.dashed-border {
  border: gray dashed 2px;
}

.f-1 {
  font-size: 1.1em !important;
}

.f-2 {
  font-size: 1.2em !important;
}

.f-3 {
  font-size: 1.4em !important;
}

.f-4 {
  font-size: 1.6em !important;
}

.f-5 {
  font-size: 1.8em !important;
}

.text-subtitle {
  color: #ccc;
}

// range from materialize
@import 'materialize/range';
// bootstrap theming
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";
// lux theme variables
@import 'theme/variables';
// colors
$darkcalm: #292f32;
$calm:#2c3135;
$coffee:#584b4b;
$ocean:#2c3e50;
$facebook: #3B5998;
$instagram: #fb3958;
$linkedin: #0077B5;
// dashboard
$pale: #d8d8d8;
$natural: #f1f4fb;
$dashboard: #323443;
// customs
$headings-color: $ocean;
$theme-colors: ( "darkcalm": $darkcalm, "calm": $calm, "coffee": $coffee, "ocean": $ocean, "facebook": $facebook, "linkedin": $linkedin, "instagram": $instagram, "dashboard": $dashboard, "pale": $pale, "natural": $natural);
// table
$table-hover-bg: rgba($black, .025);
// dropdown
$dropdown-link-active-bg: $gray-300;
// modal in a child component
.modal {
	z-index: 1200 !important;
}

// pagination
.page-item.active .page-link {
	color: #fff !important; // important for hover
  background-color: $dashboard !important; // important to override
  border-color: $dashboard !important; // important to override
}

// animations
@keyframes modal-slide {
	from {
		opacity: 0;
    transform: translate(0, 5vh);
  }
  to {
		opacity: 1;
    transform: translate(0, 0);
  }
}

.modal {
	animation: modal-slide 0.25s;
}

.has-error {
	color: red;
}

// build the theme
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'theme/lux';
// hide froala license thing
a[href="https://froala.com/wysiwyg-editor"],
a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
	display: none !important;
  position: absolute;
  top: -99999999px;
}
// dashboard
label.dashboard {
	color: $dashboard;
}

label.bg-dashboard.active {
	@extend .bg-info;
	color: white !important;
}

.progress-bar {
	@extend .bg-dashboard;
}

.linkedin {
  color: $linkedin !important;
}

.facebook {
  color: $facebook !important;
}

.instagram {
  color: $instagram !important;
}

.fa-linkedin {
  @extend .linkedin;
}

.fa-facebook {
  @extend .facebook;
}

.fa-instagram {
  @extend .instagram;
}

/* for the dashboard animations */

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  border-radius: 10px; // background-color: #F5F5F5;
  background: white;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px; // background-color: #F5F5F5;
  background: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.container-loading {
  height: 100vh;
  overflow: hidden;
}

.bx-0 {
  border-right: none !important;
  border-left: none !important;
}

.range-field {
  margin-top: 1rem;
}

.thumb {
  z-index: 10;
}

strong {
  @extend .lead;
  font-weight: 900 !important;
}

.f-heavy {
	font-weight: 900 !important;
}

label {
  &.range-min {
    @extend .text-muted;
    position: absolute;
    float: left;
    left: 0;
    top: -0.8rem;
  }
  &.range-max {
    @extend .text-muted;
    position: absolute;
    float: right;
    right: 0;
    top: -0.8rem;
  }
}
