.p-5
	.container-fluid
		.jumbotron
			h2 Important note!
			p.lead Note that the emails that will be sent to these email addresses are for the purpose of notifications only and cannot be replyed to!
		.row
			.col
					h2 Emails
					hr
		.row
			.col
				.form-group
					label Job Applications Email
					input.form-control(type='email' placeholder='example@example.com')
					p Job applications will be sent to this email
		hr
		.row
			.col-12.col-lg-4.offset-lg-8
				button.w-100.btn.btn-primary.btn.ml-auto.mt-1(type='button') Save