.bg-dark.py-5
	.container
		.row.text-light
			.col-12.col-md-3
				strong Address
				br
				br
				div.f-1.pre(*ngIf="(content$|async)?.address") {{ (content$|async)?.address }}
				br
			.col-12.col-md-3
				strong Phones
				br
				br
				div.f-1(*ngIf="(content$|async)?.phone1") {{ (content$|async)?.phone1 }}
				div.f-1(*ngIf="(content$|async)?.phone2") {{ (content$|async)?.phone2 }}
				br
			.col-12.col-md-3
				strong Email
				br
				br
				div.f-1(*ngIf="(content$|async)?.email") {{ (content$|async)?.email }}
				br
			.col-12.col-md-3
				strong(*ngIf="(content$|async)?.additionalTitle") {{ (content$|async)?.additionalTitle }}
				br
				br
				div.f-1(*ngIf="(content$|async)?.additionalBody") {{ (content$|async)?.additionalBody }}
.copyright.text-center
	span
		| &copy; Copyright 2018 
		a#company-link(href="https://www.facebook.com/graystudios00", target="_blank") Gray Studios
		|  - All Rights Reserved