.bg-dark.p-5
	.container
		.row.text-light
			.col-12.col-md-3
				div
					strong Address
					br
					br
					p.pre(*ngIf="(content$|async)?.address") {{ (content$|async)?.address }}
					br
					strong Contacts
					br
					br
					div(*ngIf="(content$|async)?.email") Email: {{ (content$|async)?.email }}
					div(*ngIf="(content$|async)?.phone1") Phone: {{ (content$|async)?.phone1 }}
					div(*ngIf="(content$|async)?.phone2") Phone: {{ (content$|async)?.phone2 }}
			.col-12.col-md-3
				div#social-container
					div
						strong(*ngIf="(content$|async)?.additionalTitle") {{ (content$|async)?.additionalTitle }}
						br
						br
						div(*ngIf="(content$|async)?.additionalBody") {{ (content$|async)?.additionalBody }}
						ul#social
							li(*ngIf="(content$|async)?.facebook")
								.facebook
									a(href='{{(content$|async)?.facebook}}', target="_blank")
										i.fa.fa-facebook(aria-hidden='true')
							li(*ngIf="(content$|async)?.linkedIn")
								.linkedin
									a(href='{{(content$|async)?.linkedIn}}', target="_blank")
										i.fa.fa-linkedin(aria-hidden='true')
							li(*ngIf="(content$|async)?.instagram")
								.instagram
									a(href='{{(content$|async)?.instagram}}', target="_blank")
										i.fa.fa-instagram(aria-hidden='true')
		.row
			.col-sm-6
				hr
				p
					| &copy; Copyright 2017 
					a.text-muted(href="https://www.facebook.com/graystudios00", target="_blank") Gray Studios
					|  - All Rights Reserved