nav.navbar.navbar-expand.navbar-dark.bg-dark
	a.navbar-brand([routerLink]="['/']") Ikigai
	//- button.navbar-toggler(type='button', data-toggle='collapse', data-target='#ikigaiNavbar', aria-controls='ikigaiNavbar', aria-expanded='false', aria-label='Toggle navigation')
	//- 	span.navbar-toggler-icon
	//- #ikigaiNavbar.collapse.navbar-collapse
	//- 	ul.navbar-nav.mr-auto
	//- 		li.nav-item.active
	//- 			a.nav-link(href='#')
	//- 				span.sr-only (current)
	//- 		li.nav-item
	//- 			a.nav-link(href='#') Features
	//- 		li.nav-item
	//- 			a.nav-link(href='#') Pricing
	//- 		li.nav-item
	//- 			a.nav-link(href='#') About